<!doctype html>
<html ng-app="demoApp">
<head>
    <meta charset="utf-8">

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">

</head>
<body ng-controller="MainController">
<img src="/images/sarma-logo-google.png" alt=""/>

<h2>{{ title }}</h2>

<img ng-if="imageVisible" ng-src="{{ imageUrl }}" alt=""/>

<div class="buttons">
    <a ng-click="showGirl()" class="btn btn-primary"> Show naked girl</a>
    <a ng-click="showCat()" class="btn btn-primary"> Show funny cat</a>
</div>

<script src="bower_components/angular/angular.min.js"></script>
<script src="scripts/popup.js"></script>

</body>
</html>
